@tailwind base;
@tailwind components;
@tailwind utilities;

.textValidation{
    color:red;
}

/* Posicionamiento fijo barra navegacion*/
nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
/* Vista Movil-------------------- */
    @media (max-width: 975px) {
  /* barra navegacion */
    nav {
      flex-direction: column;
    }
  /* tabla inserccion productos en compra */
      table {
        display: block;
    }
    .tableMobile tr {/*afecta a todas la filas menos a la ultima  */
        border-top: 1px dashed black;
    }            
    .tableMobile tr > :nth-child(2){/*Solo afecta al segundo hijo de tr */
        display: flex;
        align-items: center;
    }
        .headMobile{/*Afecta a los encabezados */
            font-size: 1.2rem;
            color: blue;
            font-weight: bold;
            margin-right: 5px
        }
    .tableDesktop {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
    }
    td {
        padding: 0 4px;
    }
  }

/* Vista Desktop ------------------------*/
    @media (min-width: 977px) {
      .tableMobile {
          display: none;
      }
      .rowsDesktop {
        border-bottom: 1px dashed black;
      }
  }
  
  /* Centrar los enlaces */
  .container {
    width: 100%;
    max-width: 960px;
  }
  
  
  
