@tailwind base;
@tailwind components;
@tailwind utilities;

.textValidation{
    color:red;
}

/* Posicionamiento fijo */
.navigation {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  }
  
  /* Centrar los enlaces */
  .container {
    width: 100%;
    max-width: 960px;
  }
  
  .mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
